.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
    transition: 0.3s all;
    padding: 12px 25px;
    border: none;
    min-height: 46px;
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }
    &--primary {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: var(--button-text-color);
        &:hover {
            color: var(--button-text-color);
            opacity: 0.8;
        }
    }
    &--secondary {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        color: var(--button-text-color);
        &:hover {
            color: var(--button-text-color);
            opacity: 0.8;
        }
    }
    &--md {
        @include respond-to("md") {
            min-width: 140px;
        }
    }
    &--full {
        width: 100%;
    }
    &--icon {
        display: inline-block;
        position: relative;
    }
    &--loader {
        width: 20px;
        height: 20px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &--close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        padding: 0;
        box-shadow: var(--button--close-shadow);
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border: none;
        border-radius: var(--button--close-border-radius);
        outline: none;
        min-height: auto;
    }
    &--toggle {
        width: 30px;
        height: 20px;
        cursor: pointer;
        transition: all 0.2s ease-out;
        position: relative;
        display: block;
        background: transparent;
        i {
            display: block;
            width: 30px;
            height: 2px;
            background: var(--button--toggle-lines-color);
            position: absolute;
            left: 0;
            top: 9px;
            transition: all 0.2s ease-out;
        }
        &:before,
        &:after {
            display: block;
            width: 30px;
            height: 2px;
            position: absolute;
            transition: all 0.2s ease-out;
            content: "";
            left: 0;
            background: var(--button--toggle-lines-color);
        }
        &:before {
            top: 0;
        }
        &:after {
            top: 18px;
        }
    }
    &--toggle--active {
        i {
            opacity: 0;
        }
        &:before,
        &:after {
            top: 9px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
